 {% extends "blogapp/base.html" %}
   {% block title %}{{ post.title }}{% endblock %}
   {% block content %}
     <h1>{{ post.title }}</h1>
     <p class="date">
       Published {{ post.publish }} by {{ post.author }}
     </p>
     {{ post.body|linebreaks }}

		<p>
		     <a href="{% url "blogapp:post_share" post.id %}">
		       Share this post
		     </a>
		</p>

  {% with comments.count as total_comments %}
     <h3>
       {{ total_comments }} comment{{ total_comments|pluralize }}
     </h3>
{% endwith %}
<!-- no of comments -->
{% for comment in comments %}
     <div class="comment">
       <p class="info">
         Comment {{ forloop.counter }} by {{ comment.name }}
         {{ comment.created }}
</p>
       {{ comment.body|linebreaks }}
     </div>
   {% empty %}
     <p>There are no comments yet.</p>
{% endfor %}

<!-- Form to create comment -->
 {% if new_comment %}
     <h2>Your comment has been added.</h2>
   {% else %}
     <h2>Add a new comment</h2>
     <form method="post">
       {{ comment_form.as_p }}
       {% csrf_token %}
       <p><input type="submit" style="background-color: #5f788a; color: #fff; border-radius: 20px; height: 40px;" value="Add comment"></p>
     </form>
   {% endif %}

   {% endblock %}
