{% extends 'blogapp/base.html' %}
{% block content %}

<h1>About page</h1>
Data blog is a blog app that provides information about different matters ranging from sports to news to religion to tech and to many others. Users can share a post content via email to someone, they can also comment on a particular post. The ability to create, edit, and update posts is owned by the admin of the app for now. The app also provide related/similar posts to a particular post content as recommendation to the users. 

<p>Thank you.</p>

{% endblock content %}