{% load static %}
   <!DOCTYPE html>
   <html>
   <head>
     <title>{% block title %}{% endblock %}</title>
     <link href="{% static 'blogapp/css/main.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'blogapp/images/logo2.jpg' %}">
   </head>
   <body>
     <div id="content">
       {% block content %}
       {% endblock %}
     </div>
     <div id="sidebar">
      <h2><a class="nav-item nav-link" href="{% url 'blogapp:post_list' %}">DataBlog</a></h2>
      <p>Welcome to data blog.</p>
       <hr>
       <p class="text-muted"> You can put any information here ranging from sports to fashion to religion to tech to many more. <a href="{% url 'blogapp:about' %}">Read more...</a></p> 
       <p>Features of this blog app includes:
          <ul class="list-group">
            <li class="list-group-item list-group-item-light">Performing CRUD operations on post contents which is done by the admin.</li>
            <li class="list-group-item list-group-item-light">Sharing posts via email.</li>
            <li class="list-group-item list-group-item-light">Commenting on a posts.</li>
            <li class="list-group-item list-group-item-light">Recommending similar posts to a particular post via tags.</li>
            <li class="list-group-item list-group-item-light">etc</li>
          </ul>
        </p>
     </div>
   </body>
   </html>